In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/credit-card-approval-prediction/credit_record.csv
/kaggle/input/credit-card-approval-prediction/application_record.csv

In [4]:
df = pd.read_csv("/kaggle/input/credit-card-approval-prediction/application_record.csv")

df1 = pd.read_csv("/kaggle/input/credit-card-approval-prediction/credit_record.csv")

In [11]:
df.merge(df1 , how ='right' , on ='ID')

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,MONTHS_BALANCE,STATUS
0,5001711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,X
1,5001711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,0
2,5001711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2,0
3,5001711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3,0
4,5001712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,5150487,M,Y,N,0.0,202500.0,Working,Secondary / secondary special,Married,House / apartment,-19398.0,-2166.0,1.0,0.0,0.0,0.0,Drivers,2.0,-25,C
1048571,5150487,M,Y,N,0.0,202500.0,Working,Secondary / secondary special,Married,House / apartment,-19398.0,-2166.0,1.0,0.0,0.0,0.0,Drivers,2.0,-26,C
1048572,5150487,M,Y,N,0.0,202500.0,Working,Secondary / secondary special,Married,House / apartment,-19398.0,-2166.0,1.0,0.0,0.0,0.0,Drivers,2.0,-27,C
1048573,5150487,M,Y,N,0.0,202500.0,Working,Secondary / secondary special,Married,House / apartment,-19398.0,-2166.0,1.0,0.0,0.0,0.0,Drivers,2.0,-28,C
1048574,5150487,M,Y,N,0.0,202500.0,Working,Secondary / secondary special,Married,House / apartment,-19398.0,-2166.0,1.0,0.0,0.0,0.0,Drivers,2.0,-29,C

In [13]:
df1['MONTHS_BALANCE'].unique()

array([  0,  -1,  -2,  -3,  -4,  -5,  -6,  -7,  -8,  -9, -10, -11, -12,
       -13, -14, -15, -16, -17, -18, -19, -20, -21, -22, -23, -24, -25,
       -26, -27, -28, -29, -30, -31, -32, -33, -34, -35, -36, -37, -38,
       -39, -40, -41, -42, -43, -44, -45, -46, -47, -48, -49, -50, -51,
       -52, -53, -54, -55, -56, -57, -58, -59, -60])